<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A trip to the zoo</title>
</head>
<body>
<p>Today I went to the zoo and I saw a(n), {{.FormValue "descriptor"}} {{.FormValue "animal1"}}! </p>
<p> jumping up and down in its tree. </p>
<p> He {{.FormValue "verb"}} {{.FormValue "adverb"}} through the large tunnel that led its</p>
<p> {{.FormValue "adjective"}} {{.FormValue "noun"}}</p>
<p>THE END!!!!</p>
</body>
</html>