<html>
<head>
    <title>Golang Madlibs</title>
</head>
<body>
<form action="/greet">
    <section>
        <label for="descriptor-text">Enter an adjective</label>
        <input type="text" name="descriptor" id="descriptor-text">
    </section>

    <section>
        <label for="animal1-select">Select an animal:</label>
        <select name="animal1" id="animal1-select">
            <option value="">--Please choose an option--</option>
            <option value="zebra">zebra</option>
            <option value="giraffe">giraffe</option>
            <option value="rhino">rhino</option>
            <option value="penguin">penguin</option>
        </select>
    </section>

    <section>
        <label for="verb-text">Enter a Verb:</label>
        <input type="text" name = "verb" id="verb-text">
    </section>
    <section>
        <label for="adverb-text">Enter an Adverb:</label>
        <input type="text" name = "adverb" id = "adverb-text">
    </section>
    <section>
        <label for="adjective-text">Enter an adjective:</label>
        <input type="text" name = "adjective" id = "adjective-text">
    </section>
    <section>
        <label for="noun-text">Enter a noun:</label>
        <input type="text" name = "noun" id="noun-text">
    </section>

    <input type="submit" value="Play Mad Libs!">

</body>
</html>